<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "Test Suite" verbose = "2">
<test name = "Test cases"> 
<classes>
<class name = "sampleTestNg.DependiesMangement"></class>
<class name = "sampleTestNg.Asserstions"></class>
<class name = "sampleTestNg.TestNgTestCase"></class>
</classes>
</test>
</suite>
